In [35]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [36]:
gdp_df = pd.read_csv('data/gdp_percapita.csv')

print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  2190.240321              NaN
1     Afghanistan  2017  2202.570851              NaN
2     Afghanistan  2016  2200.764487              NaN
3     Afghanistan  2015  2212.750899              NaN
4     Afghanistan  2014  2249.253738              NaN
5     Afghanistan  2013  2264.317575              NaN

In [37]:
gdp_df.shape

(6608, 4)

In [38]:
gdp_df.dtypes

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [39]:
gdp_df.tail(10)

,Country or Area,Year,Value,Value Footnotes
6598,Zimbabwe,1997,3580.048793,NaN
6599,Zimbabwe,1996,3520.430146,NaN
6600,Zimbabwe,1995,3226.413930,NaN
6601,Zimbabwe,1994,3263.934978,NaN
6602,Zimbabwe,1993,3033.504852,NaN
6603,Zimbabwe,1992,3054.889178,NaN
6604,Zimbabwe,1991,3426.598094,NaN
6605,Zimbabwe,1990,3324.348171,NaN
6606,footnoteSeqID,Footnote,NaN,NaN
6607,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [40]:
gdp_df.drop(columns='Value Footnotes', axis='columns', inplace=True)

In [51]:
gdp_df_renamed = gdp_df.rename(columns={'Country or Area' : 'Country','Value' : 'GDP_Per_Capita'})
print(gdp_df_renamed)

            Country                                      Year  GDP_Per_Capita
0       Afghanistan                                      2018     2190.240321
1       Afghanistan                                      2017     2202.570851
2       Afghanistan                                      2016     2200.764487
3       Afghanistan                                      2015     2212.750899
4       Afghanistan                                      2014     2249.253738
...             ...                                       ...             ...
6603       Zimbabwe                                      1992     3054.889178
6604       Zimbabwe                                      1991     3426.598094
6605       Zimbabwe                                      1990     3324.348171
6606  footnoteSeqID                                  Footnote             NaN
6607              2  Excludes South Sudan after July 9, 2011.             NaN

[6608 rows x 3 columns]

In [42]:
internet_df = pd.read_csv('data/internet_use.csv', skiprows=[4674])

print(internet_df.head(6))

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

In [43]:
internet_df.shape

(4675, 4)

In [44]:
internet_df.dtypes

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [45]:
internet_df.tail(10)

,Country or Area,Year,Value,Value Footnotes
4665,170,Refers to the total population.,NaN,NaN
4666,171,Internet Dial-up customers.,NaN,NaN
4667,172,Population age 16+ using the Internet in the l...,NaN,NaN
4668,173,Population age 16+ using internet in the last ...,NaN,NaN
4669,174,"U.S. Census Bureau, Table 2. Reported Internet...",NaN,NaN
4670,175,Includes individuals 3 years and older,NaN,NaN
4671,176,NTIA/CPS survey.,NaN,NaN
4672,178,Estimated based on Survey's results. Populatio...,NaN,NaN
4673,179,Preliminary. Country estimate.,NaN,NaN
4674,180,The methodology used to estimated the figure f...,NaN,NaN

In [46]:
internet_df.drop(columns='Value Footnotes', axis='columns', inplace=True)

In [54]:
internet_df_renamed = internet_df.rename(columns={'Country or Area' : 'Country','Value' : 'Internet_Users_Pct'})
print(internet_df_renamed)

          Country                                               Year  \
0     Afghanistan                                               2014
1     Afghanistan                                               2013
2     Afghanistan                                               2012
3     Afghanistan                                               2011
4     Afghanistan                                               2010
...           ...                                                ...
4670          175             Includes individuals 3 years and older
4671          176                                   NTIA/CPS survey.
4672          178  Estimated based on Survey's results. Populatio...
4673          179                     Preliminary. Country estimate.
4674          180  The methodology used to estimated the figure f...

      Internet_Users_Pct
0               6.390000
1               5.900000
2               5.454545
3               5.000000
4               4.000000
...                  ...
4670                 NaN
4671                 NaN
4672                 NaN
4673                 NaN
4674                 NaN

[4675 rows x 3 columns]

### Merge

In [56]:
gdp_and_internet_use = pd.merge(gdp_df_renamed,internet_df_renamed, how='outer')

print(gdp_and_internet_use.head())
print(gdp_and_internet_use.tail())
gdp_and_internet_use.shape

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2018     2190.240321                 NaN
1  Afghanistan  2017     2202.570851                 NaN
2  Afghanistan  2016     2200.764487                 NaN
3  Afghanistan  2015     2212.750899                 NaN
4  Afghanistan  2014     2249.253738                6.39
     Country                                               Year  \
7840     175             Includes individuals 3 years and older
7841     176                                   NTIA/CPS survey.
7842     178  Estimated based on Survey's results. Populatio...
7843     179                     Preliminary. Country estimate.
7844     180  The methodology used to estimated the figure f...

      GDP_Per_Capita  Internet_Users_Pct
7840             NaN                 NaN
7841             NaN                 NaN
7842             NaN                 NaN
7843             NaN                 NaN
7844             NaN                 NaN

(7845, 4)