#### 3. Import the required packages with their customary aliasesImport the required packages with their customary aliases and

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#### 4.Use the %matplotlib inline magic command so that your plots show in the notebook without having to call plt.show() every time.

In [2]:
%matplotlib inline

#### 5.Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

In [3]:
gdp_df = pd.read_csv(r"C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\gdp-and-internet-usage-Chericehere\Data\gdp_percapita.csv")

In [4]:
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  2190.240321              NaN
1     Afghanistan  2017  2202.570851              NaN
2     Afghanistan  2016  2200.764487              NaN
3     Afghanistan  2015  2212.750899              NaN
4     Afghanistan  2014  2249.253738              NaN
5     Afghanistan  2013  2264.317575              NaN

#### 6.Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.

In [5]:
internet_df = pd.read_csv(r"C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\gdp-and-internet-usage-Chericehere\Data\internet_use.csv", nrows=4496)

print(internet_df.head(6))

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

#### 7. Look at the shape of each DataFrame - how many rows? How many columns?

In [6]:
gdp_df.shape

(6608, 4)

In [7]:
internet_df.shape

(4496, 4)

#### 8.Take a look at the datatypes for the columns in each DataFrame.

In [8]:
gdp_df.dtypes

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [9]:
internet_df.dtypes

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

#### 9.Take a look at the last 10 rows of each DataFrame in turn.

In [10]:
gdp_df.tail(10)

,Country or Area,Year,Value,Value Footnotes
6598,Zimbabwe,1997,3580.048793,NaN
6599,Zimbabwe,1996,3520.430146,NaN
6600,Zimbabwe,1995,3226.413930,NaN
6601,Zimbabwe,1994,3263.934978,NaN
6602,Zimbabwe,1993,3033.504852,NaN
6603,Zimbabwe,1992,3054.889178,NaN
6604,Zimbabwe,1991,3426.598094,NaN
6605,Zimbabwe,1990,3324.348171,NaN
6606,footnoteSeqID,Footnote,NaN,NaN
6607,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [11]:
internet_df.tail(10)

     Country or Area      Year     Value  Value Footnotes
4486        Zimbabwe      2001  0.799846              NaN
4487        Zimbabwe      2000  0.401434              NaN
4488        Zimbabwe      1999  0.161676              NaN
4489        Zimbabwe      1998  0.081648              NaN
4490        Zimbabwe      1997  0.033080              NaN
4491        Zimbabwe      1996  0.016790              NaN
4492        Zimbabwe      1995  0.007684              NaN
4493        Zimbabwe      1994  0.001739              NaN
4494        Zimbabwe      1990  0.000000              NaN
4495   footnoteSeqID  Footnote       NaN              NaN

##### 10.Drop the value footnotes column from both DataFrames. Check that this worked as expected.

In [12]:
gdp_df = gdp_df.drop(columns='Value Footnotes')

In [13]:
internet_df = internet_df.drop(columns='Value Footnotes')

#### 11.Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [14]:
gdp_df = gdp_df.rename(columns={'Country or Area' : 'Country','Value' : 'GDP_Per_Capita'})
print(gdp_df)

            Country                                      Year  GDP_Per_Capita
0       Afghanistan                                      2018     2190.240321
1       Afghanistan                                      2017     2202.570851
2       Afghanistan                                      2016     2200.764487
3       Afghanistan                                      2015     2212.750899
4       Afghanistan                                      2014     2249.253738
...             ...                                       ...             ...
6603       Zimbabwe                                      1992     3054.889178
6604       Zimbabwe                                      1991     3426.598094
6605       Zimbabwe                                      1990     3324.348171
6606  footnoteSeqID                                  Footnote             NaN
6607              2  Excludes South Sudan after July 9, 2011.             NaN

[6608 rows x 3 columns]

#### 12.Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [15]:
internet_df = internet_df.rename(columns={'Country or Area' : 'Country','Value' : 'Internet_Users_Pct'})
print(internet_df)

            Country      Year  Internet_Users_Pct
0       Afghanistan      2014            6.390000
1       Afghanistan      2013            5.900000
2       Afghanistan      2012            5.454545
3       Afghanistan      2011            5.000000
4       Afghanistan      2010            4.000000
...             ...       ...                 ...
4491       Zimbabwe      1996            0.016790
4492       Zimbabwe      1995            0.007684
4493       Zimbabwe      1994            0.001739
4494       Zimbabwe      1990            0.000000
4495  footnoteSeqID  Footnote                 NaN

[4496 rows x 3 columns]

### Merge

In [16]:
internet_df["Year"] = internet_df.Year.astype(object)

gdp_and_internet_use = pd.merge(gdp_df,internet_df, how = 'outer')
gdp_and_internet_use.shape

(7666, 4)

#### 14. Look at the first five rows of your new DataFrame to confirm it merged correctly.

In [17]:
print(gdp_and_internet_use.head())

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2018     2190.240321                 NaN
1  Afghanistan  2017     2202.570851                 NaN
2  Afghanistan  2016     2200.764487                 NaN
3  Afghanistan  2015     2212.750899                 NaN
4  Afghanistan  2014     2249.253738                6.39

#### 15.Look at the last five rows to make sure the data is clean and as expected.

In [18]:
print(gdp_and_internet_use.tail())

     Country  Year  GDP_Per_Capita  Internet_Users_Pct
7661   Yemen  1999             NaN            0.056629
7662   Yemen  1998             NaN            0.023323
7663   Yemen  1997             NaN            0.015025
7664   Yemen  1996             NaN            0.000621
7665   Yemen  1990             NaN            0.000000

#### 16. Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.

In [19]:
select_years = gdp_and_internet_use[(gdp_and_internet_use.Year == '2004') | (gdp_and_internet_use.Year == '2009') | (gdp_and_internet_use.Year == '2019')]

print(select_years.head())

        Country  Year  GDP_Per_Capita  Internet_Users_Pct
9   Afghanistan  2009     1881.777626            3.550000
14  Afghanistan  2004     1284.127338            0.105809
26      Albania  2009    10528.778102           41.200000
31      Albania  2004     7738.542836            2.420388
55      Algeria  2009    10610.711405           11.230000

#### 17. Create three new DataFrames, one for 2004, one for 2009, and one for 2014. Give them meaningful names that aren't too long.

In [22]:
year_2004 = gdp_and_internet_use[(gdp_and_internet_use.Year == '2004')]
year_2009 = gdp_and_internet_use[(gdp_and_internet_use.Year == '2009')]
year_2014 = gdp_and_internet_use[(gdp_and_internet_use.Year == '2014')]

year_2004 
#year_2009
#year_2014

                    Country  Year  GDP_Per_Capita  Internet_Users_Pct
14              Afghanistan  2004     1284.127338            0.105809
31                  Albania  2004     7738.542836            2.420388
60                  Algeria  2004     9898.310490            4.634475
89                   Angola  2004     5568.959139            0.464815
118     Antigua and Barbuda  2004    18742.463741           24.266544
...                     ...   ...             ...                 ...
7532     T.F.Y.R. Macedonia  2004             NaN           24.440000
7590              Venezuela  2004             NaN            8.404470
7614               Viet Nam  2004             NaN            7.642409
7634  Virgin Islands (U.S.)  2004             NaN           27.377009
7656                  Yemen  2004             NaN            0.881223

[276 rows x 4 columns]

#### 18. Which country had the highest percentage of internet users in 2014? What was the percentage? (Try typing the first 3 letters of your DataFrame name and hitting the tab key for auto-complete options).

In [25]:
column = year_2014["Internet_Users_Pct"]
max_internet_2014 = column.max()
print(max_internet_2014)

98.16

In [27]:
year_2014.loc[year_2014['Internet_Users_Pct'].idxmax()]

Country               Iceland
Year                     2014
GDP_Per_Capita        49911.1
Internet_Users_Pct      98.16
Name: 2507, dtype: object