### 3. Import the required packages with their customary aliasesImport the required packages with their customary aliases and

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### 4.Use the %matplotlib inline magic command so that your plots show in the notebook without having to call plt.show() every time.

In [2]:
%matplotlib inline

### 5.Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. Take a look at the first 6 rows.

In [3]:
gdp_df = pd.read_csv(r"C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\gdp-and-internet-usage-Chericehere\Data\gdp_percapita.csv")

In [4]:
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  2190.240321              NaN
1     Afghanistan  2017  2202.570851              NaN
2     Afghanistan  2016  2200.764487              NaN
3     Afghanistan  2015  2212.750899              NaN
4     Afghanistan  2014  2249.253738              NaN
5     Afghanistan  2013  2264.317575              NaN

### 6.Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.

In [5]:
internet_df = pd.read_csv(r"C:\Users\cheri\Documents\NSS_Data_Analytics\Projects\gdp-and-internet-usage-Chericehere\Data\gdp_percapita.csv", nrows=4674)

print(internet_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  2190.240321              NaN
1     Afghanistan  2017  2202.570851              NaN
2     Afghanistan  2016  2200.764487              NaN
3     Afghanistan  2015  2212.750899              NaN
4     Afghanistan  2014  2249.253738              NaN
5     Afghanistan  2013  2264.317575              NaN

In [6]:
gdp_df.shape

(6608, 4)

In [7]:
gdp_df.dtypes

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [8]:
gdp_df.tail(10)

,Country or Area,Year,Value,Value Footnotes
6598,Zimbabwe,1997,3580.048793,NaN
6599,Zimbabwe,1996,3520.430146,NaN
6600,Zimbabwe,1995,3226.413930,NaN
6601,Zimbabwe,1994,3263.934978,NaN
6602,Zimbabwe,1993,3033.504852,NaN
6603,Zimbabwe,1992,3054.889178,NaN
6604,Zimbabwe,1991,3426.598094,NaN
6605,Zimbabwe,1990,3324.348171,NaN
6606,footnoteSeqID,Footnote,NaN,NaN
6607,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [9]:
gdp_df.drop(columns='Value Footnotes', axis='columns', inplace=True)

In [10]:
gdp_df_renamed = gdp_df.rename(columns={'Country or Area' : 'Country','Value' : 'GDP_Per_Capita'})
print(gdp_df_renamed)

            Country                                      Year  GDP_Per_Capita
0       Afghanistan                                      2018     2190.240321
1       Afghanistan                                      2017     2202.570851
2       Afghanistan                                      2016     2200.764487
3       Afghanistan                                      2015     2212.750899
4       Afghanistan                                      2014     2249.253738
...             ...                                       ...             ...
6603       Zimbabwe                                      1992     3054.889178
6604       Zimbabwe                                      1991     3426.598094
6605       Zimbabwe                                      1990     3324.348171
6606  footnoteSeqID                                  Footnote             NaN
6607              2  Excludes South Sudan after July 9, 2011.             NaN

[6608 rows x 3 columns]

In [11]:
internet_df = pd.read_csv('data/internet_use.csv', nrows=[4674])

print(internet_df.head(6))

FileNotFoundError: [Errno 2] No such file or directory: 'data/internet_use.csv'

In [ ]:
internet_df.shape

In [ ]:
internet_df.dtypes

In [ ]:
internet_df.tail(10)

In [ ]:
internet_df.drop(columns='Value Footnotes', axis='columns', inplace=True)

In [ ]:
internet_df_renamed = internet_df.rename(columns={'Country or Area' : 'Country','Value' : 'Internet_Users_Pct'})
print(internet_df_renamed)

### Merge

In [ ]:
gdp_and_internet_use = pd.merge(gdp_df_renamed,internet_df_renamed, how='outer')

print(gdp_and_internet_use.head())
print(gdp_and_internet_use.tail())
gdp_and_internet_use.shape